{% extends 'baseislas.html' %}

{% load static %}

{% block content %}
<div class="row">
    <div class="d-flex col-md-2">
        <div class="flex-shrink-0 p-3 bg-white" style="width: 300px;">
            <a href="{% url 'base' %}"
                class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
                <i class="fa-solid fa-plane-departure"></i>&nbsp;&nbsp;
                <span class="fs-5 fw-semibold">Isla O</span>
            </a>
            <ul class="list-unstyled ps-0">
              <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                  data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
                  Grupo MOK
                </button>
                <div class="collapse" id="home-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#tap1" onclick="grupoMok()"
                        class="link-dark d-inline-flex text-decoration-none rounded">Protocolo</a></li>
                    <li><a href="#tap2" onclick="grupoMok2()"
                        class="link-dark d-inline-flex text-decoration-none rounded">Proveedores</a></li>
                    <li><a href="#tap3" onclick="grupoMok3()"
                        class="link-dark d-inline-flex text-decoration-none rounded">Reembolso</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                  data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
                  Colsanitas
                </button>
                <div class="collapse" id="dashboard-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#co1" onclick="colsanitas()"
                        class="link-dark d-inline-flex text-decoration-none rounded">Protocolo</a></li>
                    <li><a href="#co2" onclick="colsanitas2()"
                        class="link-dark d-inline-flex text-decoration-none rounded">Proveedores</a></li>
                    <li><a href="#co3" onclick="colsanitas3()"
                        class="link-dark d-inline-flex text-decoration-none rounded">Reembolso</a></li>
                    <!-- <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Annually</a></li> -->
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                  data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
                  Compensar
                </button>
                <div class="collapse" id="orders-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" onclick="compensar()"
                        class="link-dark d-inline-flex text-decoration-none rounded ">Protocolo</a></li>
                    <li><a href="#" onclick="compensar2()"
                        class="link-dark d-inline-flex text-decoration-none rounded">Proveedores</a></li>
                    <li><a href="#" onclick="compensar3()"
                        class="link-dark d-inline-flex text-decoration-none rounded">Reembolso</a></li>
                  </ul>
                </div>
              </li>
              <li class="mb-1">
                <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
                  data-bs-toggle="collapse" data-bs-target="#orus-collapse" aria-expanded="false">
                  Medplus
                </button>
                <div class="collapse" id="orus-collapse">
                  <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
                    <li><a href="#" onclick="medPlus()"
                        class="link-dark d-inline-flex text-decoration-none rounded">Protocolo</a></li>
                    <li><a href="#" onclick="medPlus2()"
                        class="link-dark d-inline-flex text-decoration-none rounded">Proveedores</a></li>
                    <li><a href="#" onclick="medPlus3()"
                        class="link-dark d-inline-flex text-decoration-none rounded">Reembolso</a></li>
                  </ul>
                </div>
              </li>
              <li class="border-top my-3"></li>
            </ul>
        </div>
    </div>
    <div class="col-6 col-md-10">
        <div class="scroll-bar">
            {% include 'isla_O/textos.html' %}
        </div>
    </div>
</div>

{% endblock %}

<!--Cree otro html para hacer pruebas-->



<!-- <div class="scroll-bar">
    


</div> -->



{% block script %}
<script src="{% static 'js/speaksO.js' %}"></script>
{% endblock %}



<!-- .servicios,
.navegacion-principal,
.formulario{
    scroll-snap-align: center;
    scroll-snap-stop: always; -->