<div class="container mt-5" style="display: none;" id="mok1">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Saludo</h4>
          <p class="card-text">Gracias por comunicarse con Grupo Mok, mi nombre es: ____ queremos verificar si
            “Autoriza usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>

  <div class="container mt-5" style="display: none;" id="mok2">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Proovedores</h4>
          <p class="card-text">Gracias por comunicarse con Grupo Mok, mi nombre es: ____ queremos verificar si
            “Autoriza usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>


  <div class="container mt-5" style="display: none;" id="mok3">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Reembolso</h4>
          <p class="card-text">Gracias por comunicarse con Grupo Mok, mi nombre es: ____ queremos verificar si
            “Autoriza usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>


  <div class="container mt-5" style="display: none;" id="co1">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Saludo</h4>
          <p class="card-text">Gracias por comunicarse con Colsanitas, mi nombre es: ____ queremos verificar si
            “Autoriza usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>


  <div class="container mt-5" style="display: none;" id="co2">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Proovedores</h4>
          <p class="card-text">Gracias por comunicarse con Colsanitas, mi nombre es: ____ queremos verificar si
            “Autoriza usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>


  <div class="container mt-5" style="display: none;" id="co3">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Reembolso</h4>
          <p class="card-text">Gracias por comunicarse con Colsanitas, mi nombre es: ____ queremos verificar si
            “Autoriza usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>

  <div class="container mt-5" style="display: none;" id="com1">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Saludo</h4>
          <p class="card-text">Gracias por comunicarse con Compensar, mi nombre es: ____ queremos verificar si
            “Autoriza usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>


  <div class="container mt-5" style="display: none;" id="com2">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Proovedores</h4>
          <p class="card-text">Gracias por comunicarse con Compensar, mi nombre es: ____ queremos verificar si
            “Autoriza usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>
 

  <div class="container mt-5" style="display: none;" id="com3">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Reembolso</h4>
          <p class="card-text">Gracias por comunicarse con Compensar, mi nombre es: ____ queremos verificar si
            “Autoriza usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>


  <div class="container mt-5" style="display: none;" id="med1">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Saludo</h4>
          <p class="card-text">Gracias por comunicarse con medPlus, mi nombre es: ____ queremos verificar si “Autoriza
            usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>


  <div class="container mt-5" style="display: none;" id="med2">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Proovedores</h4>
          <p class="card-text">Gracias por comunicarse con medPlus, mi nombre es: ____ queremos verificar si “Autoriza
            usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>


  <div class="container mt-5" style="display: none;" id="med3">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Reembolso</h4>
          <p class="card-text">Gracias por comunicarse con medPlus, mi nombre es: ____ queremos verificar si “Autoriza
            usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>