{% extends 'baseislas.html' %}

{% load static %}

{% block content %}
    <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
      <a href="{% url 'base'%}" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <i class="fa-solid fa-plane-departure"></i>&nbsp;&nbsp;
        <span class="fs-5 fw-semibold">ISLA U {{mensaje}}</span>
      </a>
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
            BMI
          </button>
          <div class="collapse" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#tap1"  @click="bmi1 = true, bmi2 = false, bmi3 = false, apx1 = false, apx2 = false, apx3= false,  rci1 = false, rci2=false, rci3=false,  travel1 = false, travel2 = false, travel3 = false"
                  class="link-dark d-inline-flex text-decoration-none rounded">Saludo</a></li>
              <li><a href="#tap2"  @click="bmi2 = true, bmi1 = false, bmi3 = false, apx1 = false, apx2 = false, apx3= false,  rci1 = false, rci2=false, rci3=false,  travel1 = false, travel2 = false, travel3 = false"
                  class="link-dark d-inline-flex text-decoration-none rounded">Proveedores</a></li>
              <li><a href="#tap3"@click="bmi3 = true, bmi2 = false, bmi1 = false, apx1 = false, apx2= false, apx3= false,  rci1 = false, rci2=false, rci3=false,  travel1 = false, travel2 = false, travel3 = false"
                  class="link-dark d-inline-flex text-decoration-none rounded">Reembolso</a></li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
            Apex Travel
          </button>
          <div class="collapse" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#co1" @click="apx1 = true, apx2=false,  apx3= false, bmi1 = false, bmi2 = false, bmi3=false, rci1 = false, rci2=false, rci3=false,  travel1 = false, travel2 = false, travel3 = false "
                  class="link-dark d-inline-flex text-decoration-none rounded">Protocolo</a></li>
              <li><a href="#co2" @click="apx2 = true, apx1=false, apx3= false, bmi1 = false, bmi2 = false, bmi3=false, rci1 = false, rci2=false, rci3=false,  travel1 = false, travel2 = false, travel3 = false "
                  class="link-dark d-inline-flex text-decoration-none rounded">Proveedores</a></li>
              <li><a href="#co3" @click="apx3 = true, apx2 = false, apx1=false, bmi1 = false, bmi2 = false, bmi3=false, rci1 = false, rci2=false, rci3=false,  travel1 = false, travel2 = false, travel3 = false "
                  class="link-dark d-inline-flex text-decoration-none rounded">Reembolso</a></li>
              <!-- <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Annually</a></li> -->
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
            RCI
          </button>
          <div class="collapse" id="orders-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#com1" @click=" rci1 = true, rci2=false, rci3=false,  apx1 = false, apx2=false,  apx3= false, bmi1 = false,  bmi2 = false, bmi3=false, travel1 = false, travel2 = false, travel3 = false"
                class="link-dark d-inline-flex text-decoration-none rounded">Protocolo</a></li>
            <li><a href="#com2" @click="rci2 = true, rci1 = false,  rci3= false,  apx2 = false, apx1=false, apx3= false, bmi1 = false,  bmi2 = false, bmi3=false, travel1 = false, travel2 = false, travel3 = false"
                class="link-dark d-inline-flex text-decoration-none rounded">Proveedores</a></li>
            <li><a href="#com3" @click="rci3 = true, rci1 = false, rci2 = false, apx3 = false, apx2 = false, apx1=false, bmi1 = false,  bmi2 = false, bmi3=false, travel1 = false, travel2 = false, travel3 = false"
                class="link-dark d-inline-flex text-decoration-none rounded">Reembolso</a></li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            data-bs-toggle="collapse" data-bs-target="#orus-collapse" aria-expanded="false">
            Vista Travel
          </button>
          <div class="collapse" id="orus-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#med1" @click=" travel1 = true, travel2 = false, travel3 = false, rci1 = false, rci2=false, rci3=false,  apx1 = false, apx2=false,  apx3= false, bmi1 = false, bmi2 = false,  bmi3=false"
                class="link-dark d-inline-flex text-decoration-none rounded">Protocolo</a></li>
            <li><a href="#med2" @click=" travel2 = true, travel1 = false, travel3 = false, rci2 = false, rci1 = false,  rci3= false, apx2 = false, apx1=false, apx3= false, bmi1 = false, bmi2 = false, bmi3=false"
                class="link-dark d-inline-flex text-decoration-none rounded">Proveedores</a></li>
            <li><a href="#med3" @click="travel3 = true, travel2 = false, travel1 = false, rci3 = false, rci1 = false, rci2 = false, apx3 = false, apx2 = false, apx1=false, bmi1 = false, bmi2 = false, bmi3=false"
                class="link-dark d-inline-flex text-decoration-none rounded">Reembolso</a></li>
            </ul>
          </div>
        </li>
        <li class="border-top my-3"></li>
      </ul>
    </div>

    <div class="b-example-divider b-example-vr" ></div>

    

    {% include 'isla_U/textos.html' %}

    {% block script %}
      <!--CDN Vue js-->
  <script src="https://unpkg.com/vue@3"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script >
        //Creamos una constante para guardar el acoplamiennto y montar la app
        const  mountedApp = app.mount('#app')
    </script>

<script src="{% static 'js/sidebars.js' %}"></script>
    {% endblock %}

    {% endblock %}