<style>
  #holi {
    display: none;
  }
</style>
<div id="holi">
<div class="container mt-5" v-show="april1">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Saludo</h4>
          <p class="card-text">Gracias por comunicarse con APRIL LATAM, mi nombre es: ____ queremos verificar si
            “Autoriza usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>

  <div class="container mt-5" v-show="april2">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Proovedores</h4>
          <p class="card-text">Gracias por comunicarse con APRIL LATAM, mi nombre es: ____ queremos verificar si
            “Autoriza usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>

  <div class="container mt-5" v-show="april3">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Reembolso</h4>
          <p class="card-text">Gracias por comunicarse con APRIL LATAM, mi nombre es: ____ queremos verificar si
            “Autoriza usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>


  <div class="container mt-5" v-show="ast1">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Saludo</h4>
          <p class="card-text">Gracias por comunicarse con Assist 365, mi nombre es: ____ queremos verificar si
            “Autoriza usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>


  <div class="container mt-5" v-show="ast2">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Proovedores</h4>
          <p class="card-text">Gracias por comunicarse con Assist 365, mi nombre es: ____ queremos verificar si
            “Autoriza usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>


  <div class="container mt-5"   v-show="ast3">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Reembolso</h4>
          <p class="card-text">Gracias por comunicarse con Assist 365, mi nombre es: ____ queremos verificar si
            “Autoriza usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>
  <div class="container mt-5" v-show="quo1">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Saludo</h4>
          <p class="card-text">Gracias por comunicarse con Quorum Assist, mi nombre es: ____ queremos verificar si
            “Autoriza usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>


  <div class="container mt-5" v-show="quo2">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Proovedores</h4>
          <p class="card-text">Gracias por comunicarse con Quorum Assist, mi nombre es: ____ queremos verificar si
            “Autoriza usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>

  <div class="container mt-5" v-show="quo3">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Reembolso</h4>
          <p class="card-text">Gracias por comunicarse con Quorum Assist, mi nombre es: ____ queremos verificar si
            “Autoriza usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>


  <div class="container mt-5" v-show="pax1">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Saludo</h4>
          <p class="card-text">Gracias por comunicarse con Pax Assistance, mi nombre es: ____ queremos verificar si “Autoriza
            usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>

  <div class="container mt-5" v-show="pax2">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Proovedores</h4>
          <p class="card-text">Gracias por comunicarse con Pax Assistance, mi nombre es: ____ queremos verificar si “Autoriza
            usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>


  <div class="container mt-5" v-show="pax3">
    <div class="row">
      <div class="card">
        <section class="justify-content-center">
          <h4 class="text-center">Protocolo de Reembolso</h4>
          <p class="card-text">Gracias por comunicarse con Pax Assistance, mi nombre es: ____ queremos verificar si “Autoriza
            usted el tratamiento de sus datos personales?</p>
          <strong>Si la respuesta del usuario es SI</strong>
          <p class="card-text">Lo invitamos a consultar nuestra política de tratamiento de datos personales en la
            página web de la compañía ¿en qué le podemos ayudar?</p>
          <strong>Si la respuesta del usuario es NO</strong>
          <p class="card-text">Teniendo en cuenta que, para la prestación del servicio requerido, es necesario tomar
            sus datos personales. No podremos continuar con la asistencia sin su aprobación" </p>

      </div>
    </div>
    </section>
  </div>
  </div>