% extends 'baseislas.html' %}

{% load static %}

{% block content %}


    <div class="flex-shrink-0 p-3 bg-white" style="width: 280px;">
      <a href="{% url 'base' %}" class="d-flex align-items-center pb-3 mb-3 link-dark text-decoration-none border-bottom">
        <i class="fa-solid fa-plane-departure"></i>&nbsp;&nbsp;
        <span class="fs-5 fw-semibold">ISLA E </span>
      </a>
      <ul class="list-unstyled ps-0">
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            data-bs-toggle="collapse" data-bs-target="#home-collapse" aria-expanded="false">
            April Latam
          </button>
          <div class="collapse" id="home-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#tap1"  @click="april1 = true, april2 = false, april3 = false, ast1 = false, ast2 = false, ast3= false,  quo1 = false, quo2=false, quo3=false,  pax1 = false, pax2 = false, pax3 = false"
                  class="link-dark d-inline-flex text-decoration-none rounded">Saludo</a></li>
                  <li><a href="#tap2"  @click="april2 = true, april1 = false, april3 = false, ast1 = false, ast2 = false, ast3= false,  quo1 = false, quo2=false, quo3=false,  pax1 = false, pax2 = false, pax3 = false"
                    class="link-dark d-inline-flex text-decoration-none rounded">Proveedores</a></li>
                    <li><a href="#tap3"@click="april3 = true, april2 = false, april1 = false, ast1 = false, ast2= false, ast3= false,  quo1 = false, quo2=false, quo3=false,  pax1 = false, pax2 = false, pax3 = false"
                      class="link-dark d-inline-flex text-decoration-none rounded">Reembolso</a></li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            data-bs-toggle="collapse" data-bs-target="#dashboard-collapse" aria-expanded="false">
              Assist 365
          </button>
          <div class="collapse" id="dashboard-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#co1" @click="ast1= true, ast2=false,  ast3= false, april1 = false, april2 = false, april3=false, quo1 = false, quo2=false, quo3=false,  pax1 = false, pax2 = false, pax3 = false "
                class="link-dark d-inline-flex text-decoration-none rounded">Protocolo</a></li>
                <li><a href="#co2" @click="ast2 = true, ast1=false, ast3= false, april1 = false, april2 = false, april3=false, quo1 = false, quo2=false, quo3=false,  pax1 = false, pax2 = false, pax3 = false "
                  class="link-dark d-inline-flex text-decoration-none rounded">Proveedores</a></li>
                    <li><a href="#co3" @click="ast3 = true, ast2 = false, ast1=false, april1 = false, april2 = false, april3=false, quo1 = false, quo2=false, quo3=false,  pax1 = false, pax2 = false, pax3 = false "
                      class="link-dark d-inline-flex text-decoration-none rounded">Reembolso</a></li>
              <!-- <li><a href="#" class="link-dark d-inline-flex text-decoration-none rounded">Annually</a></li> -->
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            data-bs-toggle="collapse" data-bs-target="#orders-collapse" aria-expanded="false">
            QUORUM
          </button>
          <div class="collapse" id="orders-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#com1" @click=" quo1 = true, quo2=false, quo3=false,  ast1 = false, ast2=false,  ast3= false, april1 = false,  april2 = false, april3=false, pax1 = false, pax2 = false, pax3 = false"
                class="link-dark d-inline-flex text-decoration-none rounded">Protocolo</a></li>
                <li><a href="#com2" @click="quo2 = true, quo1 = false,  quo3= false,  ast2 = false, ast1=false, ast3= false, april1 = false,  april2 = false, april3=false, pax = false, pax2 = false, pax3 = false"
                  class="link-dark d-inline-flex text-decoration-none rounded">Proveedores</a></li>
                  <li><a href="#com3" @click="quo3 = true, quo1 = false, quo2 = false, ast3 = false, ast2 = false, ast1=false, april1 = false,  april2 = false, april3=false, pax1 = false, pax2 = false, pax3 = false"
                    class="link-dark d-inline-flex text-decoration-none rounded">Reembolso</a></li>
            </ul>
          </div>
        </li>
        <li class="mb-1">
          <button class="btn btn-toggle d-inline-flex align-items-center rounded border-0 collapsed"
            data-bs-toggle="collapse" data-bs-target="#orus-collapse" aria-expanded="false">
            Pax Assist
          </button>
          <div class="collapse" id="orus-collapse">
            <ul class="btn-toggle-nav list-unstyled fw-normal pb-1 small">
              <li><a href="#med1" @click=" pax1 = true, pax2 = false, pax3 = false, quo1 = false, quo2=false, quo3=false,  ast1 = false, ast2=false,  ast3= false, april1 = false, april2 = false,  april3=false"
                class="link-dark d-inline-flex text-decoration-none rounded">Protocolo</a></li>
            <li><a href="#med2" @click=" pax2 = true, pax1 = false, pax3 = false, quo2 = false, quo1 = false,  quo3= false, ast2 = false, ast1=false, ast3= false, april1 = false, april2 = false, april3=false"
                class="link-dark d-inline-flex text-decoration-none rounded">Proveedores</a></li>
            <li><a href="#med3" @click="pax3 = true, pax2 = false, pax1 = false, quo3 = false, quo1 = false, quo2 = false, ast3 = false, ast2 = false, ast1=false, april1 = false, april2 = false, april3=false"
                class="link-dark d-inline-flex text-decoration-none rounded">Reembolso</a></li>
            </ul>
          </div>
        </li>
        <li class="border-top my-3"></li>
      </ul>
    </div>

    <div class="b-example-divider b-example-vr" ></div>

    {% include 'isla_E/textosTPA.html' %}

    {% block script %}
      <!--CDN Vue js-->
  <script src="https://unpkg.com/vue@3"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <script >
        //Creamos una constante para guardar el acoplamiennto y montar la app
        const  mountedApp = app.mount('#app')
    </script>

    {% endblock %}

    {% endblock %}
